body {
  padding-top: 70px;
}

pre {
    min-height: 649px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
}